<form
  hx-post="/food-list-diaglog/add"
  hx-target="this"
  hx-swap="outerHTML"
  hx-confirm="Are you sure you wish to add the food item?"
  class="form-inline"
>
  <label class="my-1 mr-2" for="inlineFormCustomSelectPref"
    >Select a food to add!</label
  >
  <select
    name="foodselection"
    class="form-select form-select-lg mb-3"
    id="inlineFormCustomSelectPref"
  >
    {% for food in foods%}
    <option
      value='{"name":"{{food.get("name")}}","weight":{{food.get("weight")}},"calories":{{food.get("calories")}},"protein":{{food.get("protein")}},"carbohydrates":{{food.get("carbohydrates")}},"fats":{{food.get("fats")}},"fiber":{{food.get("fiber")}},"sugars":{{food.get("sugars")}},"sodium":{{food.get("sodium")}} }'
    >
      {{food.get('name')}}
    </option>
    {% endfor %}
  </select>

  <select
    name="foodtype"
    class="form-select form-select-lg mb-3"
    aria-label="Large select example"
  >
    <option value="breakfast">breakfast</option>
    <option value="lunch">lunch</option>
    <option value="dinner">dinner</option>
    <option value="snack">snack</option>
  </select>

  <button type="submit" class="btn btn-primary my-1">Add Food</button>
</form>
