<canvas id="totalWeightLostChart"></canvas>
<script>
  async function fetchData() {
    const response = await fetch("/total-weight-lost-data");
    const data = await response.json();
    return data;
  }

  async function createChart() {
    const data = await fetchData();
    const ctx = document
      .getElementById("totalWeightLostChart")
      .getContext("2d");
    const myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: data.labels,
        datasets: [
          {
            label: "Weights",
            data: data.values,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            min: 200,
            max: 350,
          },
        },
      },
    });
  }

  createChart();
</script>
